.places {
  max-width: 984px;
  margin: 92px auto 92px auto;
  margin-bottom: 92px;
   display: grid;
  grid-template-columns: 460px 484px;
  grid-column-gap: 40px;
  grid-row-gap: 80px;
  
}
@media screen and (max-width: 1024px) {
  .places {
    grid-template-columns: 472px 488px;
    grid-column-gap: 32px;
    grid-row-gap: 80px;
    max-width: 928px;
    margin: 88px auto;
  }
}

@media screen and (max-width: 768px) {
  .places {
    grid-template-columns: 368px 380px;
    grid-row-gap: 0;
    max-width: 720px;
    padding-top: 16px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 425px){
  .places {
    grid-template-columns: 320px;
    grid-row-gap: 0;
    padding-top: 16px;
    margin: 0 auto;
  }
}