@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__image-container/lead__image-container.css);
@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);

.lead {
  display: flex;
  flex-direction: column;
  max-width: 984px;
  max-height: 1005px;
  width: 100%;
  margin: 58px auto 92px;
}
.lead:nth-last-of-type(4) {
  align-items: baseline;
}

@media screen and (max-width: 768px){
  .lead {
    margin: 58px auto 88px;
  }
}

@media screen and (max-width: 320px){
  .lead {
    margin: 58px auto 64px;
  }
}
