.cover__subtitle {
  font-size: 18px;
  line-height: 22px;
  max-width: 320px;
  text-align: center;
  z-index: 2;
  color: #FFFFFF;
}
@media screen and (max-width: 1024px) {
    .cover__subtitle {
    max-width: 320px;
    height: 66px;
    font-size: 18px;
    line-height: 22px;
  }
    }

@media only screen and (max-width: 769px) {
.cover__subtitle {
  width: 320px;
  height: 66px;
  line-height: 22px;
  font-size: 18px;
   margin: 32px 0 153px 0;
}
}
@media only screen and (max-width: 425px){
.cover__subtitle {
    max-width: 288px;
    height: 48px;
    font-size: 14px;
    line-height: 16px;
    

}
}
