@import url(./__logo/header__logo.css);
@import url(./header__lang/header__lang.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_active/header__lang-link_active.css);


.header {
  display: flex;
  align-items: baseline;
  max-width: 984px;
  width: 100%;
  height: auto;
  padding-top: 34px;
  justify-content: space-between;
  margin: auto;
  
}

@media only screen and (min-width: 1280px) {
.header {
    max-width: 984px;
}
}
@media screen and (max-width: 1023px){
  .header {
    max-width: calc(100vw - 96px);
  }
}
@media screen and (max-width: 767px) {
  .header {
    max-width: calc(100vw - 48px);
    padding-left: 0px;
  }
}
@media screen and (max-width: 425px) {
  .header {
    max-width: calc(100vw - 32px);
    padding: 20px 0 0 0;
  }
}