.lead__image {
  max-width: 984px;
    height: 615px;
    justify-content: center;
    margin-top: 56px;
}

@media only screen and (max-width: 425px){
.lead__image {
    margin-top: 40px;
}
}