.intro__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    max-width: 690px;
    margin-top: 32px;
    margin-bottom: 0;
    color: #ffffff;
}
@media only screen and (max-width: 767px) {
.intro__text {
    min-width: 720px;
    height: auto;
}
}
@media only screen and (max-width: 425px) {
.intro__text {
    font-size: 16px;
    line-height: 26px;
    width: 100%
}
}