@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__item/cover__item.css);



.cover {
    width: 100vw;
    height: 740px;
    display: flex;
    max-width: 1184px;
    min-height: 740px;
    margin: 0 auto;
    justify-content: center;
    margin-top: 12px;
}

@media screen and (max-width: 1024px) {
    .cover {
     min-height: 640px; 
 }
}

@media screen and (max-width: 768px) {
    .cover {
        min-height: 480px;
         margin-top: 8px;
 }
}

@media screen and (max-width: 320px){
    .cover {
         margin-top: 8px;
         min-height: 200px;
 }
}



