@import url("./__title/place-left__title.css");
@import url("./__image/place-left__image.css");

@media screen and (max-width: 768px) {
  .place-left {
  display: flex;
  flex-direction: column;
  max-width: 368px;
  max-height: 560px;
  margin: auto;
  align-self: end;
  }
}