@import url(./__copyright/footer__copyright.css);
@import url(./__link/footer__link.css);
@import url(./__links/footer__links.css);
@import url(./__link-item/footer__link-item.css);



.footer {
    display: flex;
    justify-content: space-between;
    width: 1184px;
    height: 134px;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .footer {
    width: calc(100% - 48px);
     margin: 0 24px 0 24px;
  }
}
@media screen and (max-width: 425px) {
  .footer {
    height: 286px;
    flex-direction: column;
    width: calc(100% - 32px);
   
  }
}
