
@import url(./__image/card__image.css);
@import url(./__link-text/card__link-text.css);
@import url(./__link/card__link.css);
@import url(./__paragraph-container/card__paragraph-container.css);
@import url(./__paragraph/card__paragraph.css);
@import url(./__paragraph/_med/card__paragraph_med.css);
@import url(./__title/card__title.css);
@import url(./__url-heading/card__url-heading.css);
@import url(./__website/card__website.css);
@import url(./__title-new-hampshire/card__title-new-hampshire.css);



.card {
 display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "title website"
        " . . "
        "image text"
        "image text";
    max-width: 984px;
    margin: 0 auto;
    padding-bottom: 80px;
    grid-column-gap: 16px;
}

@media screen and (max-width: 1024px) {
    .card {
        max-width: 928px;
    }
}
@media screen and (max-width: 768px) {
.card {
   grid-template-rows: 46px 48px repeat(2, 1fr);
}
}


@media screen and (max-width: 425px) {
.card {
   display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 48px;
}
}