@import url(./_title/place__left_title.css);
@import url(./_image/place__left_image.css);
.place__left {
  display: flex;
  flex-direction: column;
  width: 460px;
  height: 564px;
  margin: auto;
  align-self: end;
  padding-right: 40px;
}
@media screen and (max-width: 768px) {
  .place__left {
  display: flex;
  flex-direction: column;
  width: 460px;
  height: 564px;
  margin: auto;
  align-self: end;
  padding-right: 40px;
  }
}